body
{
background-color:#ffffff;
margin:0px;
margin-top:30px;
padding:0px;
}

h2
{
font-family:verdana;
text-align:left;
color:#000000;
}

h3
{
font-family:verdana;
color:#000000;
margin-top:0px;
margin-bottom:10px;
}

div, p
{
font-family:verdana;
font-size:12px;
text-align:left;
color:#000000;
}

input, textarea
{
font-family:courier new;
font-size:12px;
resize:none;
resize:vertical;
}

a:link , a:visited
{
color:#5f7c28;
text-decoration:none;
}

a:hover, a:active
{
color:#008000;
text-decoration:none;
}  

.menu
{
text-align:right;
padding:5px 10px;
}


.center
{
margin:auto;
width:750px;
padding:0px;
}

.warning
{
color:#FF0000;
font-style:italic;
}

.small
{
font-size:10px;
}

.col
{
padding:20px;
}

#top
{
background-color:#7AB800;
background-image:url('dupes_top.jpg');
padding-top:10px;
padding-left:20px;
width:730px;
margin-bottom:1px;
}

#middle
{
background-color:#dbe7c2;
background-image:url('line.png');
overflow-y:hidden;
}

#col1
{
float:left;
width:270px;
}

#col2
{
float:right;
width:409px;
padding-right:10px;
}

#bottom
{
clear:both;
background-color:#7AB800;
background-image:url('dupes_bottom.jpg');
padding-left:20px;
padding-top:20px;
width:730px;
margin-top:1px;
}



